@{
    ViewBag.Title = "Login";
    //string oauthUrl = asthanarht.fbindi.Constant.FbConstant.GetFacebookLoginUrl(Request["returnUrl"]);
    @Styles.Render("~/Content/fb.css");
}

<section class="login-form-wrap">
   
       
        <a href="@Url.Action("FacebookLogin")">
            <img src="/images/loginwithfb.png" title="Login With Facebook" alt="Login With Facebook" />
        </a>
   
    
</section>
